body {
    margin:0;
    background:#0d0d0d;
    color:white;
    font-family:Arial;
}

.card {
    background:#1a1a1a;
    padding:30px;
    width:330px;
    margin:auto;
    margin-top:80px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(255,255,255,0.1);
}

input, select {
    width:90%;
    padding:10px;
    margin:10px 0;
    border-radius:10px;
    border:none;
}

button {
    padding:10px 20px;
    background:#ff4f9a;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.4s;
}

