body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 50px;
}

h1 {
    color: #4CAF50;
}

/* Estilo del logo */
#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
    height: auto;
    z-index: 1000;
}

/* Estilo de los iframes de juegos */
iframe {
    display: block;
    margin: 20px auto;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}
