body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    overflow-x: hidden;
    color: white;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 120px;
    z-index: 10;
}

#titulo {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    z-index: 10;
    position: relative;
}

.juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    z-index: 10;
    position: relative;
}

.miniatura {
    width: 200px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
